@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h2 class="text-danger">We alredy send a team of fully equipped monkey to solve this problem</h2>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<img src="image.jpg" style="width:1000px;height:228px" class="bordered">

