@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Niespodziewany blad</h1>
<h2 class="text-danger">Nieoczekiwany blad przy przetwarzaniu zapytania:(</h2>

