@{
    ViewBag.Title = "O Firmie";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h4>Firma od 7 lat zajmuje sie przewozem osob nowoczenymi i konfortowymi autokarami. Nasza dzialalnosc obejmuje polaczenia miedzymiastowe, na trasie Krakow-Katowice. W bogatej obercie naszej firmy uwzglednione sa zniszki dla uczniow i studentow. Nasza siedziba miesci sie w Krakowie pod adresem:</h4>
<p>Adres: ul. Jana Pawła II 37, 31-864 Kraków</p>
<p>Telefon/fax: (070) 012-34-56, (070)-011-22-3</p>

<p>Informacje odnośnie naszej firmy.</p>
<p>STRONA W BUDOWIE</p>