@{
    ViewBag.Title = "Strona Główna";
}

<div class="row">
    <div class="col-md-4">
        <h2>KOMUNIKATY</h2>
        <p>
           STRONA W BUDOWIE
        </p>
    </div>
    <div class="col-md-4">
        <h2>KOMUNIKATY</h2>
        <p>
            STRONA W BUDOWIE
        </p>
    </div>
</div>